
p{
    text-align: center;
}
p>img{
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px rgb(58, 58, 119);
}
p>img:hover{
    box-shadow: 5px 10px red;
    background-color: aqua;
}